:root {
  --white: white;
  --black: black;
  --pink: #f886a8;
  --orange: #fe8d6f;
  --yellow: #fdc453;
  --green: #dfdd6c;
  --blue: #a0dde0;
  --thinStroke: 0.3em;
  --thicStroke: 1em;
}

/* w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* https://css-tricks.com/the-current-state-of-styling-scrollbars/ */
::-webkit-scrollbar {
  width: 40px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--black);
  border-radius: 50px;
  background-image: url("img/scrollbarPizzaMond.png");
  /* background-size: contain; */
  background-size: 40px 100vh;
  background-repeat: no-repeat;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-image: url("img/scrollbarPizza.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar-thumb:hover {
  background-image: url("img/scrollbarGehaktbal.png");
}

::-webkit-scrollbar-track:hover {
  background-image: url("img/scrollbarPastaMond.png");
}

html {
  animation: cursorAnimation 0.25s infinite;
}

body {
  margin: 3em;
  border-style: solid;
  border-width: var(--thinStroke);
  border-color: var(--black);
  font-family: "Arial Black", Gadget, sans-serif;
  background-color: var(--white);
  color: var(--black);
}

body > a:first-of-type {
  color: var(--orange);
}

body > a:nth-of-type(2) {
  color: var(--blue);
}

body > a:last-of-type {
  color: var(--green);
}

body > a:first-of-type:hover {
  color: #ff6600;
}

body > a:nth-of-type(2):hover {
  color: #66ccee;
}

body > a:last-of-type:hover {
  color: #dfdd6c;
}

body > h2 {
  position: absolute;
  font-size: 3em;
  margin-top: -0.8em;
  margin-left: 2vw;
  color: var(--black);
  font-weight: 100;
  z-index: 10;
}

/* menu titel */
body > h2 span:nth-of-type(1):hover {
  color: var(--yellow);
} 

body > h2 span:nth-of-type(1):not(:hover) {
  animation-duration: 10s;
  animation-name: yellowToBlack
}

body > h2 span:nth-of-type(2):hover {
  color: var(--pink);
} 

body > h2 span:nth-of-type(2):not(:hover) {
  animation-duration: 10s;
  animation-name: pinkToBlack
}

body > h2 span:nth-of-type(3):hover {
  color: var(--green);
} 

body > h2 span:nth-of-type(3):not(:hover) {
  animation-duration: 10s;
  animation-name: greenToBlack
}

body > h2 span:nth-of-type(4):hover {
  color: var(--orange);
} 

body > h2 span:nth-of-type(4):not(:hover) {
  animation-duration: 10s;
  animation-name: orangeToBlack
}

/* header svg stijling */
body > header {
  margin: 2em 0em 5em 0em;
  position: relative;
  width: 100%;
  height: 15em;
}

body > header > h1 {
  position: absolute;
  color: var(--black);
  margin: 3.5em auto 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5em;
}

body > header > p {
  position: absolute;
  margin: 9em auto 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.8em;
}

body > header > div {
  position: absolute;
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
}

body > header svg {
  margin: 0 auto 0 auto;
  display: block;
  width: 22em;
  height: 15em;
}

body > header rect {
  width: 270px;
  height: 120px;
  stroke: var(--black);
  stroke-width: var(--thinStroke);
  fill: var(--white);
}

body > header rect:nth-of-type(1) {
  y: 1em;
  x: 0.5em;
}

body > header rect:nth-of-type(1):hover {
  fill: var(--yellow);
  transition: fill 2s;
}

body > header rect:nth-of-type(1):not(:hover) {
  animation-duration: 10s;
  animation-name: yellowToWhite;
}

body > header rect:nth-of-type(2) {
  y: 5em;
  x: 4.5em;
}

body > header rect:nth-of-type(2):hover {
  fill: var(--pink);
}

body > header rect:nth-of-type(2):not(:hover) {
  animation-duration: 10s;
  animation-name: pinkToWhite;
}

body > header rect:nth-of-type(3) {
  y: 3em;
  x: 2.5em;
}

body > header rect:nth-of-type(3):hover {
  fill: var(--blue);
}

body > header rect:nth-of-type(3):not(:hover) {
  animation-duration: 10s;
  animation-name: blueToWhite;
}

/* navigatie stijling */
nav input {
  display: none;
}

nav {
  /* display: flex; */
  height: 20em;
  position: relative;
  margin: auto;
  /* left: 0em;
  right: 0em; */
  width: 90%;
}

nav label {
  background-color: var(--black);
  padding: 0em 2em 0em 2em;
  margin: 5em 0em 4em 1em;
  transition: ease-in-out;
  transition-duration: 2s;
  transition-delay: 1.5s;
}

nav label:hover {
  padding-top: 8em;
}
label > svg {
  margin-bottom: 1.5em;
  fill: var(--black);
}

nav path:nth-of-type(1n):hover {
  fill: var(--pink);
}

nav path:nth-of-type(1n):not(:hover) {
  animation-duration: 10s;
  animation-name: pinkToBlack;
}

nav path:nth-of-type(3n):hover {
  fill: var(--green);
}

nav path:nth-of-type(3n):not(:hover) {
  animation-duration: 10s;
  animation-name: greenToBlack;
}

nav path:nth-of-type(5n):hover {
  fill: var(--blue);
}

nav path:nth-of-type(5n):not(:hover) {
  animation-duration: 10s;
  animation-name: blueToBlack;
}

nav circle:hover {
  fill: var(--orange);
}

nav circle:not(:hover) {
  animation-duration: 10s;
  animation-name: orangeToBlack;
}

nav polygon:hover {
  fill: var(--yellow);
}

nav polygon:not(:hover) {
  animation-duration: 10s;
  animation-name: yellowToBlack;
}

nav rect:hover {
  fill: var(--yellow);
}

nav rect:not(:hover) {
  animation-duration: 10s;
  animation-name: yellowToBlack;
}

/* menu kaartjes */
section > div {
  display: flex;
  display: inline-block;
}

main > header > h2 {
  font-size: 2.5em;
  text-align: center;
  margin: 2em 0em 1em 0em;
}

section div {
  height: 20em;
  width: 26%;
  margin: 1em;
  padding: 0em 1em 1em 1em;
  min-width: 15em;
}

section article {
  border-style: solid;
  border-width: var(--thinStroke);
  min-width: 15em;
  height: 20em;
  width: 26%;
  display: inline-block;
  vertical-align: top;
  padding: 0em 1em 1em 1em;
  border-color: var(--black);
}

section div article > * {
  font-size: 1.5em;
  font-weight: 900;
  background-size: cover;
  background-position: center;
  color: transparent;
  /* hier heb ik webkit nodig omdat background-clip: text; niet goed werkt op chrome*/
  -webkit-background-clip: text;
}

section div:hover > article{
  background-size: cover;
  background-position: center;
}

section div:hover > article > * {
  color: var(--white);
}

/* section 1 backgrounds */
section:nth-of-type(1) div:nth-of-type(1) > article > *{
  background-image: url("/img/bietensalade.jpg");
}

section:nth-of-type(1) div:nth-of-type(1):hover > article {
  background-image: url("/img/bietensalade.jpg");
}

section:nth-of-type(1) div:nth-of-type(2) > article > *{
  background-image: url("/img/borrelplank.jpg");
}

section:nth-of-type(1) div:nth-of-type(2):hover > article{
  background-image: url("/img/borrelplank.jpg"); 
}

section:nth-of-type(1) div:nth-of-type(3) > article > *{
  background-image: url("/img/groentesoep.png");
}

section:nth-of-type(1) div:nth-of-type(3):hover > article{
  background-image: url("/img/groentesoep.png");
}

section:nth-of-type(1) div:nth-of-type(4) > article > *{
  background-image: url("/img/lentesalade.jpeg");
}

section:nth-of-type(1) div:nth-of-type(4):hover > article{
  background-image: url("/img/lentesalade.jpeg");
}

section:nth-of-type(1) div:nth-of-type(5) > article > *{
  background-image: url("/img/mangosalade.jpg");
}

section:nth-of-type(1) div:nth-of-type(5):hover > article{
  background-image: url("/img/mangosalade.jpg");
}

/* section 2 backgrounds */
section:nth-of-type(2) div:nth-of-type(1) > article > *{
  background-image: url("/img/pizzasalami.jpeg");
}

section:nth-of-type(2) div:nth-of-type(1):hover > article{
  background-image: url("/img/pizzasalami.jpeg");
}

section:nth-of-type(2) div:nth-of-type(2) > article > *{
  background-image: url("/img/pizzamozz.jpg");
}

section:nth-of-type(2) div:nth-of-type(2):hover > article{
  background-image: url("/img/pizzamozz.jpg");
}

section:nth-of-type(2) div:nth-of-type(3) > article > *{
  background-image: url("/img/pizzabbqchicken.jpg");
}

section:nth-of-type(2) div:nth-of-type(3):hover > article{
  background-image: url("/img/pizzabbqchicken.jpg");
}

section:nth-of-type(2) div:nth-of-type(4) > article > *{
  background-image: url("/img/pizzahawaii.jpeg");
}

section:nth-of-type(2) div:nth-of-type(4):hover > article{
  background-image: url("/img/pizzahawaii.jpeg");
}

section:nth-of-type(2) div:nth-of-type(5) > article > *{
  background-image: url("/img/pizzavierkazen.jpg");
}

section:nth-of-type(2) div:nth-of-type(5):hover > article{
  background-image: url("/img/pizzavierkazen.jpg");
}

section:nth-of-type(3) div:nth-of-type(1) > article > *{
  background-image: url("/img/pastabolognese.jpg");
}

section:nth-of-type(3) div:nth-of-type(1):hover > article{
  background-image: url("/img/pastabolognese.jpg");
}

section:nth-of-type(3) div:nth-of-type(2) > article > *{
  background-image: url("/img/pastazalm.jpg");
}

section:nth-of-type(3) div:nth-of-type(2):hover > article{
  background-image: url("/img/pastazalm.jpg");
}

section:nth-of-type(3) div:nth-of-type(3) > article > *{
  background-image: url("/img/pastavega.jpg");
}

section:nth-of-type(3) div:nth-of-type(3):hover > article{
  background-image: url("/img/pastavega.jpg");
}

section:nth-of-type(3) div:nth-of-type(4) > article > *{
  background-image: url("/img/pastaoosters.jpg");
}

section:nth-of-type(3) div:nth-of-type(4):hover > article{
  background-image: url("/img/pastaoosters.jpg");
}

section:nth-of-type(3) div:nth-of-type(5) > article > *{
  background-image: url("/img/pastaspinazie.jpg");
}

section:nth-of-type(3) div:nth-of-type(5):hover > article{
  background-image: url("/img/pastaspinazie.jpg");
}

section:nth-of-type(4) div:nth-of-type(1) > article > *{
  background-image: url("/img/chococake.jpg");
}

section:nth-of-type(4) div:nth-of-type(1):hover > article{
  background-image: url("/img/chococake.jpg");
}

section:nth-of-type(4) div:nth-of-type(2) > article > *{
  background-image: url("/img/tropijs.jpg");
}

section:nth-of-type(4) div:nth-of-type(2):hover > article{
  background-image: url("/img/tropijs.jpg");
}

section:nth-of-type(4) div:nth-of-type(3) > article > *{
  background-image: url("/img/bakjeijs.jpg");
}

section:nth-of-type(4) div:nth-of-type(3):hover > article{
  background-image: url("/img/bakjeijs.jpg");
}

section:nth-of-type(4) div:nth-of-type(4) > article > *{
  background-image: url("/img/appeltaartijs.jpg");
}

section:nth-of-type(4) div:nth-of-type(4):hover > article{
  background-image: url("/img/appeltaartijs.jpg");
}

section:nth-of-type(4) div:nth-of-type(5) > article > *{
  background-image: url("/img/notentaart.jpg");
}

section:nth-of-type(4) div:nth-of-type(5):hover > article{
  background-image: url("/img/notentaart.jpg");
}

/* flip animatie */
/* bronnen: https://css-tricks.com/almanac/properties/b/backface-visibility/ 
en https://www.w3schools.com/howto/howto_css_flip_card.asp */

section:nth-of-type(1) div:hover > article {
  transform: rotateY(180deg);
  backface-visibility: visible;
  transition: 1s;
} 

section:nth-of-type(1) div:hover article > * {
  /* Hoe je de tekst weer flipt https://stackoverflow.com/questions/3433641/flipping-inverting-mirroring-text-using-css-only */
  transform: scaleX(-1);
}

/* filter spelen */
section:nth-of-type(2) div:hover > article > * {
  color: var(--black);
}

section:nth-of-type(2) div:nth-of-type(1):hover > article > * {
  backdrop-filter: hue-rotate(290deg);
}

section:nth-of-type(2) div:nth-of-type(2):hover > article > * {
  backdrop-filter: saturate(20);
}

section:nth-of-type(2) div:nth-of-type(3):hover > article > * {
  backdrop-filter: invert(1);
}

section:nth-of-type(2) div:nth-of-type(4):hover > article > * {
  backdrop-filter: blur(10px);
}

section:nth-of-type(2) div:nth-of-type(5):hover > article > * {
  backdrop-filter: grayscale(1);
}

/* derde section, spelen met transform */
section:nth-of-type(3) div:nth-of-type(1):hover > article {
  transform: scale(20);
  transition: 1s;
}

section:nth-of-type(3) div:nth-of-type(2):hover > article {
  animation: warpAnimation 1s infinite;
  animation-direction: alternate;
}

section:nth-of-type(3) div:nth-of-type(3):hover > article {
  animation: rotateAndScale 0.1s infinite;
}

section:nth-of-type(3) div:nth-of-type(4):hover > article {
  transform: translate(10em, -30em);
}

section:nth-of-type(3) div:nth-of-type(5):hover > article {
  transform: rotate3d(30deg, 30deg, 180deg);
}

/* Muis veranderingen */
/* http://getemoji.com/ */
section:nth-of-type(1):hover{
  cursor: url("/img/cursorSoup.png"), auto;
}

section:nth-of-type(2):hover{
  cursor: url("/img/cursorPizza.png"), auto;
}

section:nth-of-type(3):hover{
  cursor: url("/img/cursorPasta.png"), auto;
}

section:nth-of-type(4):hover{
  cursor: url("/img/cursorIce.png"), auto;
}

/* animaties op de titels van het menu */
/* animatie op titel "voorgerechten" */
header:first-of-type h2 {
  letter-spacing: -0.15em;
}

header:first-of-type h2:hover > *{
  color: var(--orange);
  text-align: center;
  display: inline-block;
}

header:first-of-type h2 > span:first-of-type {
  animation: jumpingLetters 1.2s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(2){
  animation: jumpingLetters 1.3s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(3){
  animation: jumpingLetters 1.4s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(4){
  animation: jumpingLetters 1.5s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(5){
  animation: jumpingLetters 1.6s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(6){
  animation: jumpingLetters 1.7s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(7){
  animation: jumpingLetters 1.8s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(8){
  animation: jumpingLetters 1.9s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(9){
  animation: jumpingLetters 2s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(10){
  animation: jumpingLetters 2.1s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(11){
  animation: jumpingLetters 2.2s infinite alternate;
}

header:first-of-type h2 > span:nth-of-type(12){
  animation: jumpingLetters 2.3s infinite alternate;
}

header:first-of-type h2 > span:last-of-type{
  animation: jumpingLetters 2.4s infinite alternate;
}

header:nth-of-type(3) h2 {
  transition-duration: 1s;
}

header:nth-of-type(3):hover h2 {
  color: var(--blue);
  text-align: center;
  animation: rotationEffect 1s infinite alternate;
}

header:last-of-type h2 {
  transition-duration: 1s;
}

header:last-of-type:hover h2 {
  color: var(--green);
  text-align: center;
  animation: letterspacing 3s infinite alternate;
}

/* keyframes */
/* https://stackoverflow.com/questions/17847049/css3-custom-animation-triggering-after-hover */
/* color to white keyframes */
@keyframes greenToWhite {
  from {fill: var(--green);
        color: var(--green);
  }
  to {fill: white;}
}

@keyframes pinkToWhite {
  from {fill: var(--pink);
        color: var(--pink);
  }
  to {fill: var(--white);}
}

@keyframes blueToWhite {
  from {fill: var(--blue);
        color: var(--blue);
  }
  to {fill: var(--white);}
}

@keyframes orangeToWhite {
  from {fill: var(--orange);
        color: var(--orange);
  }
  to {fill: var(--white);}
}

@keyframes yellowToWhite {
  from {fill: var(--yellow);
        color: var(--yellow);
  }
  to {fill: var(--white);}
}

/* color to black keyframes */
@keyframes greenToBlack {
  from {fill: var(--green);
        color: var(--green);
  }
  to {fill: var(--black);}
}

@keyframes pinkToBlack {
  from {fill: var(--pink);
        color: var(--pink);
  }
  to {fill: var(--black);}
}

@keyframes blueToBlack {
  from {fill: var(--blue);
        color: var(--blue);
  }
  to {fill: var(--black);}
}

@keyframes orangeToBlack {
  from {fill: var(--orange);
        color: var(--orange);
  }
  to {fill: var(--black);}
}

@keyframes yellowToBlack {
  from {fill: var(--yellow);
        color: var(--yellow);
  }
  to {fill: var(--black);}
}

@keyframes letterspacing {
  from {letter-spacing: -3em;
    transform: rotateY(0deg);
  }
  to {letter-spacing: 1em;
    transform: rotateY(360deg);
  }
}

@keyframes rotationEffect {
  from {
    transform: scale(0.1, 4);
  }
  to {
    transform: scale(2, 0.1);
  }
}

/* cursor animatie */
/* cursor gemaakt via: http://www.rw-designer.com/online-cursor-editor */
@keyframes cursorAnimation {
  0%{cursor: url("/img/cursor1.cur"), auto;}
  20%{cursor: url("/img/cursor2.cur"), auto;}
  40%{cursor: url("/img/cursor3.cur"), auto;}
  60%{cursor: url("/img/cursor4.cur"), auto;}
  80%{cursor: url("/img/cursor5.cur"), auto;}
  100%{cursor: url("/img/cursor1.cur"), auto;}
}

@keyframes warpAnimation {
  0% {
    transform: skew(30deg, 30deg);
  }
  100% {
    transform: skew(-30deg, -30deg);
  }
}

@keyframes rotateAndScale {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(10deg) scale(1.5);
  }
}

@keyframes jumpingLetters {
  from {
    transform: translateY(0em);
  }
  to {
    transform: translateY(-1em);
  }
}

/* Dark mode */
/* https://css-tricks.com/dark-modes-with-css/ */
@media (prefers-color-scheme: dark) {
  --white: black;
  --black: white;
  --pink: #f886a8;
  --orange: #fe8d6f;
  --yellow: #fdc453;
  --green: #dfdd6c;
  --blue: #a0dde0;
  --thinStroke: 0.3em;
  --thicStroke: 1em;
}

/* truckje van Vasilis */
/* darkmode (neon)*/
body:target {
  --white: black;
  --black: white;
  --pink: #ff0099;
  --orange: #ff6600;
  --yellow: #f3f315;
  --green: #83f52c;
  --blue: #6e0dd0;
  --thinStroke: 0.3em;
  --thicStroke: 1em;
}

/* greymode (grijs achtige kleuren)*/
head:target ~ body {
  --white: #cccccc;
  --black: #323232;
  --pink: #ee6677;
  --orange: #aa3377;
  --yellow: #ccbb44;
  --green: #228833;
  --blue: #66ccee;
  --thinStroke: 0.3em;
  --thicStroke: 1em;
}

/* lightmode (pastel)*/
html:target > body {
  --white: white;
  --black: black;
  --pink: #f886a8;
  --orange: #fe8d6f;
  --yellow: #fdc453;
  --green: #dfdd6c;
  --blue: #a0dde0;
  --thinStroke: 0.3em;
  --thicStroke: 1em;
}

/* card flip shay howe 
handje die animeerd 
laatste kaarten die van shape veranderen 
eerste kaarten die nog iets geks doen (springen ofzo)
*/